/*=====================================================================*/
/*Definição do fundo e Fonte*/
body{
    background-image: url("../Imagens/fundo-3.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@font-face { /*Fonte gótica*/
  font-family: gotico;
  src: url("../Fontes/KCObraLetraBold.ttf");
}

.fonte-gotico{
    font-family: gotico;
}

@font-face { /*Fonte de texto*/
  font-family: texto;
  src: url("../Fontes/palr45w.ttf");
}

.fonte-texto{
    font-family: texto;
}

/*=====================================================================*/
/*Ajustes da Header e Navbar*/

.header-site { /*Header*/
    background-image: url("../Imagens/fundo-1.png");
    height: 100px;
    align-items: center;
    padding: 45px;
    color: white;
}

.logo{ /*Logo da Nav*/
    height: 55px;
    transition: transform 0.3s ease; /* animação suave */
}

.logo:hover { /*animação da logo*/
    transform: scale(1.15); /* aumenta um pouco */
    cursor: pointer;
}

.nav-link { /*Ajuste da Nav-link*/
    text-decoration: none;
    color: white;
    font-size: 14px; 
    transition: transform 0.3s ease, font-size 0.3s ease;
    display: inline-flex;
    align-items: center;
    box-shadow: 0px 0px 10px #252525;
    border-radius: 20px;
}

.nav-link:hover { /*Animação da Nav-link*/
    transform: scale(1.2); 
    color: white; 
    cursor: pointer;
    box-shadow: 0px 0px 10px #800B00;
}


/*=====================================================================*/
/*Ajustes do Botão*/

.botao{ /*Botão*/
    background: #800B00;
    background: linear-gradient(123deg, rgba(128, 11, 0, 1) 0%, rgba(182, 0, 0, 1) 50%);
    box-shadow: 0px 0px 10px #252525;
    text-align: center;
    color: white;
    font-family: texto;
    height: 90px;
    width: 200px;
    font-size: 25px;
    transition: transform 0.3s;
}

.botao:hover{ /*Animação do Botão*/
    transform: scale(1.2);
    color: black;
    box-shadow: 0px 0px 10px #800B00;
}

.conteudo{
    margin-left: 50px; 
    margin-right: 50px;
}


.fundo-login{
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 25px;
}